<div ng-init="initData()">
    <ol class="breadcrumb">
        <li class="active">Events</li>
    </ol>
    <div class="row-fluid clearfix content-header">
        <div class="col-md-2">
            <span class="text-height">Search</span>
        </div>
        <div class="col-md-6">
            <input type="text" ng-model="searchText" class="form-control"
                   ng-change="changedInputText()">
        </div>
        <div class="col-md-2">
            <div class="col-md-1">
                <span class="text-height">Size</span>
            </div>
            <div class="col-md-2">
                <select class="form-control pageSize" ng-change="pageSizeChanged()" ng-model="pageSize">
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
        </div>
            <div class="col-md-2 add-div">
                <span class="btn btn-success add-button" ng-click="addEventModal()">Add</span>
            </div>
    </div>

    <div id="user" class="table-custom">
        <table class="table table-bordered table-condensed table-striped tableTab">
            <thead>
            <th>#</th>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Action</th>
            </thead>

            <tbody>
            <tr ng-repeat="event in events">
                <td>{{(pageNumber - 1) * pageSize + $index + 1}}</td>
                <td>
                    <a style="cursor: pointer;" ui-sref="app.subEvents({eventId: event.id})" ng-bind="event.name">
                    </a>
                </td>
                <td ng-bind="event.location.name"></td>
                <td ng-bind="event.date | date: 'medium'"></td>
                <td style="cursor: pointer" ng-if="currentUser.id == event.owner.id">
                    <span class="glyphicon glyphicon-edit" ng-click="addEventModal(event.id)"></span>
                </td>
                <td ng-if="currentUser.id != event.owner.id"></td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li class="previous">
                    <button ng-disabled="pageNumber <= 1" class="btn btn-default"
                            ng-click="pageNumber = pageNumber - 1; initData();"
                            style="cursor: pointer"><span
                            aria-hidden="true">&larr;</span> Previous
                    </button>
                </li>
                <li class="next">
                    <button style="cursor: pointer;" class="btn btn-default"
                            ng-disabled="pageNumber * pageSize >= count;"
                            ng-click="pageNumber = pageNumber + 1; initData();"> Next<span
                            aria-hidden="true">&rarr;</span></button>
                </li>
            </ul>
        </nav>
    </div>
</div>