<div class="container-fluid clearfix " id="loginPage">
    <div class="row" style="padding-top: 75px;">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title" >Sign to Conference App</h1>

            <div class="account-wall">
                <img class="profile-img" src="/images/user-image.jpg"
                     alt="">

                <form class="form-signin" name="signup_form">
                    <input id="username" type="text" placeholder="Login" ng-model="user.username" name="username"
                           class="form-control" ng-maxlength="20" ng-minlength="3" ng-required="true"
                           ng-focus autocomplete="off"/>

                    <div class="error"
                         ng-show="signup_form.username.$invalid && signup_form.username.$touched && !signup_form.username.$focused">
                        <p class="error" ng-show="signup_form.username.$error.required"
                           ng-bind="'login_required'">

                        </p>

                        <p class="error"
                           ng-show="signup_form.username.$error.minlength"
                           ng-bind="'login_required_min' ">

                        </p>

                        <p class="error"
                           ng-show="signup_form.username.$error.maxlength"
                           ng-bind="'login_required_max'">
                            Login cannot be longer than 20 characters
                        </p>
                    </div>

                    <input id="password" type="password" placeholder="Password" ng-model="user.password" name="password"
                           class="form-control" ng-minlength="0" ng-maxlength="100" ng-required="true"
                           ng-focus autocomplete="off"/>

                    <div class="error"
                         ng-show="signup_form.password.$invalid && signup_form.password.$touched && !signup_form.password.$focused;">
                        <p class="error" ng-show="signup_form.password.$error.required"
                           ng-bind='password_required'>
                        </p>

                        <p class="error"
                           ng-show="signup_form.password.$error.minlength"
                           ng-bind="'password_required_min'">
                            Password required to be at least 1 characters
                        </p>

                        <p class="error"
                           ng-show="signup_form.password.$error.maxlength"
                           ng-bind="'password_required_max'">
                            Login cannot be longer than 100 characters
                        </p>
                    </div>
                    <button class="btn-lg btn-primary btn-block" type="submit"
                            ng-disabled="(signup_form.username.$invalid )||
                        (signup_form.password.$invalid)"
                            ng-click="auth(user)" ng-bind="'sign_in'">
                    </button>

                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        <span ng-bind="'remember_me'"></span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>